<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Integração com SGBD </title>
</head>

<body>
   <h1>Lista de tarefas a fazer - 3C</h1>

    <button onclick="window.location='/cadastro'">Nova Tarefa</button>

    <br>
    <br>

   <table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Tarefa</th>
            <th>Prazo</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
<% if(linhasTabela){
    let situacao = ["Cancelada", "Pendente","Iniciada","Finalizada","Em Atraso"];
    
    linhasTabela.forEach((item)=>{
    %>
        <tr>
            <td><%= item.id_tarefa %></td>
            <td><%= item.nome_tarefa %></td>
            <td><%= moment(item.prazo_tarefa).format('L') %></td>
            <td><%= situacao[item.situacao_tarefa] %></td>       
            <td><a href="/alterar?id=<%= item.id_tarefa %>">Editar</a></td>       
            <!-- adicionar a opção de excluir a tarefa ( exclusão lógica) -->
        </tr>
    <% 
        });
        } else { %>
        <tr colspan="5">
            <td>Não há dados para exibir</td>
        </tr>    
    <% } %>    
    </tbody>
   </table>

</body>

</html>