<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= tituloPagina %></title>
</head>
<body>
    <h1><%= tituloPagina %></h1>

    <% if (errors && errors.length) { %>
        <ul style="color: red;">
            <% errors.forEach(function(e){ %>
                <li><%= e.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/cadastro" method="post">
        <input type="hidden" name="id" value="<%= tarefa.id_tarefa || 0 %>">
        <div>
            <label>Nome</label>
            <input type="text" name="tarefa" value="<%= tarefa.nome_tarefa || '' %>" required>
        </div>
        <div>
            <label>Prazo</label>
            <input type="date" name="prazo" value="<%= tarefa.prazo_tarefa ? moment(tarefa.prazo_tarefa).format('YYYY-MM-DD') : '' %>" required>
        </div>
        <div>
            <label>Situação</label>
            <input type="number" name="situacao" min="0" max="4" value="<%= (tarefa.situacao_tarefa != null) ? tarefa.situacao_tarefa : 1 %>" required>
        </div>
        <div>
            <button type="submit">Salvar</button>
            <a href="/">Cancelar</a>
        </div>
    </form>
</body>
</html>